/* Rubik font  */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* niconne font */
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

/* font-family: 'Niconne', cursive; */

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

:root {
  --primary_color: #88b813;
  --border_color: rgba(130, 130, 130, 0.25);
  --golden_color: #d99f34;
  --light_primary_color: #ecf1e6;
  --gray_black: #333333;
}

p {
  margin: 0;
}

a {
  text-decoration: none !important;
}

.breadcrumb_items ul {
  display: flex;
  margin-bottom: 0;
  padding: 15px 0px;
  font-size: 14px;
}

.product_page_image.d-flex .themb_img_area {
  width: 30%;
}

.product_page_image.d-flex .themb_img_area .them_img {
  display: block;
  width: 91px;
  height: 91px;
  background: white;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: 0px 0px 14px 0px #00000014;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

.product_page_image .themb_img_area .them_img.active_img {
  opacity: 1;
  transition: .3s;
  border: 1px solid var(--primary_color);
}

.product_page_image .themb_img_area .them_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_box {
  height: 100%;
  overflow: hidden;
  background: white;
  border-radius: 5px;
}

.product_page_image {
  padding: 25px 0px;
}

section#single_product_page {
  background: #F8F8F8;
}


.view_bottom .cart_count input {
  text-align: center;
  width: 100%;
  outline: none;
  border: 1px solid var(--gray_black);
  padding: 5px 0px;
  font-size: 14px;
  border-radius: 5px;
}

.popup__option {
  display: flex;
  justify-content: center;
  grid-column: 6/10;
  position: relative;
  align-items: center;
  padding: 10px 0px;
  background: rgba(221, 14, 28, 1);
  border-radius: 10px;
  transition: .3s;
  cursor: pointer;
}

.popup__option span {
  position: absolute;
  transform: translate(0px, 35px);
  transition: .4s;
  color: white;
  font-size: 16px;
}

.popup__option:hover span {
  transform: translate(0px, 0px);
  transition: .4s;
}

.popup__option a {
  display: grid;
  place-items: center;
  color: white;
  font-size: 15px;
  transition: .4s;
}

.popup__option:hover a {
  transform: translate(0px -35px);
  transition: .4s;
}

.view_bottom {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 10px 0px;
  position: absolute;
  width: 100%;
  grid-column-gap: 10px;
  bottom: 0;
  z-index: 99;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.view_bottom .cart_count {
  width: 50px;
  border-radius: 10px;
}

.view_bottom .cart_button {
  width: 100%;
  background: rgba(13, 82, 214, 1);
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 0;
  border-radius: 5px;
  grid-column: 2/6;
  cursor: pointer;
  position: relative;
}

.view_bottom .cart_button span {
  font-size: 16px;
  position: absolute;
  transform: translate(0px, 35px);
  transition: .4s;
}

.view_bottom .cart_button button {
  border: none;
  background: transparent;
  color: white;
  margin-left: 10px;
  transition: .3s;
  font-size: 15px;
}

.view_bottom .cart_button:hover {
  background: rgb(54 116 235);
  transition: .3s;
}

.view_bottom .popup__option2:hover {
  background: rgba(13, 82, 214, 1);
  transition: .3s;
}

.view_bottom .popup__option2 {
  grid-column: 10/13;
  background: rgba(80, 173, 85, 1);
  transition: .3s;
}
.product_page_details>a:hover {
  color: var(--primary_color);
  transition: .3s;
}
.product_page_details > a {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
  color: #333;
  transition: .3s;
}

.view_bottom .popup__option a {
  width: 100%;
  transition: .3s;
}

.view_bottom .popup__option2 a {
  transform: translate(0px, 0px) !important;
}

.product_page_details {
  position: relative;
  padding-bottom: 85px;
}

.product_page_details .review_price {
  margin: 10px 0;
}

.product_page_details .review_price .review_star span {
  color: #666;
  margin-left: 5px;
}

.product_page_details .review_price .price {
  display: block;
  font-size: 30px;
  font-weight: 600;
  color: var(--primary_color);
}

.product_page_details strong span {
  color: var(--primary_color);
  font-size: 16px;
}

.product_page_details strong {
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0;
}

.product_page_details .review_short_info .review_star i {
  color: #F6C800;
}

.product_page_details .review_short_info {
  display: flex;
  column-gap: 25px;
}

.wishlist_compare a:first-child i {
  color: red;
  margin-right: 5px;
}

.product_page_wrapper .wishlist_compare a {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.product_page_wrapper .wishlist_compare a:hover {
  color: red;
  transition: .3s;
}
.product_page_details p {
  font-size: 14px;
  color: #666;
  line-height: 1.7rem;
}
.wishlist_compare a:last-child i {
  color: #0D52D6 !important;
  margin-right: 5px;
}

.product_page_wrapper .wishlist_compare a:last-child:hover {
  color: #0D52D6;
  transition: .3s;
}

.product_page_wrapper .woo_share .social_box span {
  font-size: 15px;
}

.product_page_wrapper .woo_share .social_links a {
  width: 35px;
  height: 35px;
  display: grid;
  color: white;
  place-items: center;
  transition: .3s;
}

.product_page_wrapper .woo_share .social_links a:first-child {
  background: #0866FF;
}

.product_page_wrapper .woo_share .social_links a:nth-child(4) {
  background: red;
}

.product_page_wrapper .woo_share .social_links a:nth-child(2) {
  background: black;
}

.product_page_wrapper .woo_share .social_links a:nth-child(3) {
  background: #0764C1;
}

.product_page_wrapper .woo_share .social_links a:last-child {
  background: #2EA0D8;
}

.popup__option:hover a {
  transform: translate(0px, -35px);
}

.product_page_wrapper .woo_share .social_links a:hover {
  background: var(--primary_color);
  transition: .3s;
}

.product_page_wrapper .offer_area>span {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.product_page_wrapper .offer_area .offer_timer .timer .timer_box {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  background: white;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 11px 1px #0000001c;
}

.product_page_wrapper .offer_area .offer_timer .timer .timer_box span {
  font-size: 14px;
  color: #777;
}

.product_page_wrapper .offer_area .offer_timer .timer .timer_box b {
  font-weight: 500;
}

.product_page_wrapper .offer_area .offer_timer .product_qty {
  width: 100%;
}

.product_page_wrapper .offer_area .offer_timer .product_qty .qty_title p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
}

.product_page_wrapper .offer_area .offer_timer .product_qty .qty_progress {
  width: 100%;
  height: 8px;
  position: relative;
}

section#single_product_page .about_product {
  padding-bottom: 80px;
}

.offer_area {
  margin-top: 25px;
}

.product_page_wrapper .offer_area .offer_timer .product_qty .qty_progress .stroked {
  width: 100%;
  height: 100%;
  position: relative;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px 0px;
  box-shadow: 0px 0px 6px 1px #0000001a;
}

.product_page_wrapper .offer_area .offer_timer .product_qty .qty_progress .stroked:before {
  content: " ";
  width: 25%;
  height: 100%;
  background: var(--primary_color);
  display: block;
  border-radius: 15px;
}

.checkout_systems .chekout_title span {
  font-size: 14px;
  display: block;
  font-weight: 500;
  margin-bottom: 10px
}

.checkout_systems .checkout_img {
  width: 100%;
}

.checkout_systems .checkout_img img {
  /* width: 100%; */
  object-fit: contain;
}

.checkout_systems {
  margin: 25px 0px;
}

.product_page_wrapper {
  padding: 10px 10px;
}

.view_bottom .cart_button:hover span {
  transform: translate(0px, 0px);
  transition: .4s;
}

.view_bottom .cart_button:hover button {
  transform: translate(0px, -35px);
  transition: .4s;
}

.popup__option:hover {
  background: var(--primary_color);
  transition: .4s;
}

.description_tab .product_description h3 {
  font-size: 20px;
}

.description_tab .product_description p, li, .description_tab p {
  font-size: 14px;
  color: #666;
  line-height: 1.6rem;
}


.description_tab .product_description li .check_icon {
  margin-top: 2px;
  font-size: 16px;
  color: var(--primary_color);
}

.description_tab .product_details_image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.description_tab .product_details_image img {
  width: 100%;
}

.description_tab {
  padding: 60px 15px;
}

.description_tab .product_details_image img {
  background: white;
  border-radius: 10px;
  padding: 10px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: var(--primary_color) !important;
  background-color: #ededed !important;
  border-color: transparent !important;
}

.nav-tabs .nav-link {
  color: #333;
  font-weight: 500;
  font-size: 16px;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  isolation: isolate;
  border-color: transparent !important;
  background: #ededed !important;
  color: var(--primary_color) !important;
}

.product_details_table table {
  border-collapse: collapse;
  width: 100%;
}

.product_details_table table tr td {
  padding: 10px 15px;
  width: 50%;
  font-size: 15px;
  font-weight: 500;
}

.product_details_table table tr:nth-child(even) {
  background: #ededed;
}

.product_details_table table tr:nth-child(odd) {
  background: white;
}

.product_details_table {
  padding: 60px 15px;
}

.product_details_table table tr td:last-child {
  font-weight: 400;
}

.single_review>p {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 15px;
}

.single_review {
  max-width: 650px;
}

.single_review .review_box .category_review .review_star i {
  color: #F6C800;
  font-size: 15px;
}

.single_review .review_box .category_review span {
  font-size: 14px;
  margin-bottom: 5px;
}

.single_review .review_box .review_guid .review_guid_content p {
  font-size: 13px;
}

.review_guid_content p {
  font-size: 15px;
  line-height: 1.6rem;
  color: #666;
}

.review_info p {
  margin-bottom: 0;
  color: #333;
  font-size: 15px;
}

.review_info p span {
  color: #666;
  font-size: 14px;
  margin-left: 5px;
}

.review_slider {
  padding: 30px;
}

.review_tab {
  padding: 60px 15px;
}

.review_tab h3 {
  font-size: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background: white !important;
  border-radius: 100%;
  box-shadow: 1px 1px 20px 0px #0000000d;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25px !important;
  color: var(--primary_color) !important;
}

.mySwiper .swiper-wrapper {
  padding: 80px 0px;
}

.review_add_area {
  padding: 45px 15px;
  background: white;
  border-radius: 10px;
}

.review_add_area .review_total {
  text-align: center;
}

.rating_details .rating_box {
  display: grid;
  grid-template-columns: 110px 1fr 30px;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.rating_details .rating_box .rating_progress {
  max-width: 100%;
  height: 10px;
  position: relative;
  background: #e4e4e4;
  border-radius: 5px;
}

.rating_details .rating_box .rating_progress:before {
  content: " ";
  width: 82%;
  height: 100%;
  background: var(--primary_color);
  border-radius: 50px;
  position: absolute;
}

.rating_details .rating_box:nth-child(2) .rating_progress:before {
  width: 20%;
}

.rating_details .rating_box:nth-child(3) .rating_progress:before {
  width: 10%;
}

.rating_details .rating_box:nth-child(3) .rating_progress:before {
  width: 0%;
}

.rating_details .rating_box:nth-child(4) .rating_progress:before {
  width: 0;
}

.rating_details .rating_box:last-child .rating_progress:before {
  width: 0;
}

.rating_details {
  padding: 20px 0px;
}

.rating_details .rating_box .rating_star {
  color: #F6C800;
}

.review_add_area .review_total div i {
  color: #F6C800;
}

.rating_star_item {
  display: table-row;
}

.rating_star_item span,
.user_rating_star {
  display: table-cell;
}

.review_star_container {
  display: table;
  width: 230px;
  margin-bottom: 10px;
}

.right_side h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.review_star_container .rating_star_item .user_rating_star {
  color: #F6C800;
}

.right_side form>div {
  width: 100%;
}

.right_side form>div input {
  width: 100%;
}

.right_side form input,
textarea {
  width: 100%;
  border: 1px solid var(--primary_color);
  transition: .3s;
  padding: 10px 15px;
  outline: none;
}

.right_side form input {
  border-radius: 5px;
  outline: none;
}

.right_side form .customer_agreed_checkbox {
  display: flex;
  align-items: self-start;
  margin: 25px 0px;
}

input[type="checkbox"] {
  width: 13px !important;
  margin-top: 5px;
  margin-right: 10px;
}

.right_side form .customer_agreed_checkbox label {
  font-size: 14px;
}

.right_side form .customer_data_submit button {
  border: 1px solid transparent;
  background: var(--primary_color);
  color: white;
  border-radius: 5px;
  padding: 10px 60px;
  font-size: 15px;
  font-weight: 600;
}

.right_side form {
  margin: 30px 0px;
}

.right_side {
  padding: 0px 10px;
}

.customer_box label {
  margin-bottom: 10px;
  font-size: 14px;
}

.right_side form .customer_data_submit button:hover {
  transition: .3s;
  background: white;
  border: 1px solid var(--primary_color);
  color: var(--primary_color);
}

.about_info h3 {
  font-size: 20px;
}

.about_product_brand {
  padding: 60px 15px;
}

.about_info p {
  font-size: 14px;
  line-height: 1.6rem;
  color: #666;
}

/*ask question popup style*/

.user_question_popup{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: none;
  flex-direction: column;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
  z-index: 99998;
}
.user_question_popup .user_form_area .form_close_btn a:hover {
  transform: scale(1.1);
  transition: .3s;
}
.user_question_popup .user_form_area {
  z-index: 999999999;
  width: 530px;
  background: white;
  border-radius: 10px;
  padding: 30px 20px;
  position: relative;
}
.user_question_popup .user_form_area .form_close_btn{
  position: absolute;
  top: 10px;
  right: 10px;
}
.user_question_popup .user_form_area .form_close_btn a{
  width: 30px;
  height: 30px;
  background: var(--primary_color);
  display: grid;
  place-items: center;
  border-radius: 100%;
}
.user_question_popup .user_form_area .form_close_btn a {
  font-size: 15px;
  color: white;
  cursor: pointer;
  transition: .3s;
}
.user_question_popup .user_form_area .form_title h3{
  font-size: 22px;
  font-weight: 500;
}
.user_question_popup .user_form_area .form_title h3 i {
  color: var(--primary_color);
}
.user_question_popup .user_form_area .form_title h3::after{
  content: " ";
  display: block;
  width: 80px;
  height: 2px;
  background: var(--primary_color);
  margin: 10px 0px;
}
.user_question_popup .user_form_area form .form_group {
  width: 100%;
}

.user_question_popup .user_form_area form .form_group input {
  width: 100%;
  padding: 0px 10px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ededed;
  font-size: 14px;
  transition: .3s;
}

.user_question_popup .user_form_area form .form_group textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 14px;
  border: 1px solid #ededed;
  transition: .3s;
  outline: none;
  border-radius: 5px;
}
.user_question_popup .user_form_area form .form_group input:focus{
  border: 1px solid var(--primary_color);
  transition: .3s;
}
.user_question_popup .user_form_area form .form_group textarea:focus{
  border: 1px solid var(--primary_color);
  transition: .3s;
}
.user_question_popup .user_form_area form .form_group select:focus{
  border: 1px solid var(--primary_color);
  transition: .3s;
}
.user_question_popup .user_form_area form .form_group button{
  font-size: 16px;
  background: var(--primary_color);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0px;
  border-radius: 10px;
  margin-top: 20px;
  outline: none;
  border: 1px solid transparent;
  transition: .3s;
}
.user_question_popup .user_form_area form .form_group select {
  width: 100%;
  padding: 0px 10px;
  height: 50px;
  color: #888;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  border: 1px solid #ededed;
  transition: .3s;
  border-radius: 5px;
  cursor: pointer;
}
.user_question_popup .user_form_area form .form_group button:hover {
  color: var(--primary_color);
  border: 1px solid var(--primary_color);
  background: white;
  transition: .3s;
}
.popup_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #00000069;
}



/*style for swiper thembslider in single product page*/
.mySwiper2 .swiper-wrapper{
  margin-bottom: 35px;
}
 .mySwiper2 img {
  height: 350px;
  width: 100%;
  object-fit: contain;
  background: #ededed;
  cursor: pointer;
}
.img_area {
  width: 100%;
  overflow: hidden;
  background: #ededed;
  border-radius: 10px;
}
 .mySwiper3 img {
  width: 100%;
  height: 125px;
  object-fit: cover;
  background: #ededed;
  border-radius: 5px;
  cursor: pointer;
}


.mySwiper3 .swiper-wrapper {
    padding-bottom: 50px;
}

.mySwiper3 .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    background: var(--primary_color);
}

.mySwiper3 span.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}


@media only screen and (max-width: 991px) {
.mySwiper .swiper-button-next, .swiper-button-prev {
  bottom: 0 !important;
  top: unset !important;
  z-index: 999 !important;
}

}
@media only screen and (max-width: 580px) {
  .view_bottom .cart_button:hover button {
    transform: translate(0px, -35px);
    transition: .4s;
  }
  .view_bottom .cart_button span,   .view_bottom .cart_button button, .popup__option span{
    transform: translate(0px, 0px);
  }
.view_bottom .cart_button:hover span {
  transform: translate(0px, 0px);
  transition: .4s;
}

.popup__option{
  background:rgba(221, 14, 28, 1) ;
}
ul#myTab {
  justify-content: center;
  gap: 10px;
}
.user_question_popup .user_form_area{
  width: 430px;
}
.user_question_popup .user_form_area .form_title h3{
  font-size: 18px;
}
}
@media only screen and (max-width: 500px){
  .rating_details .rating_box .rating_star, .review_star_container .rating_star_item .user_rating_star{
    font-size: 12px;
  }
  .rating_details .rating_box{
    grid-template-columns:   80px 1fr 30px;
  }
  .rating_details .rating_box .rating_progress{
    height: 7px;
  }
  .rating_details .rating_box .rating_number{
    font-size: 14px;
  }
  .user_question_popup .user_form_area{
    width: 300px;
  }
  .user_question_popup .user_form_area .form_title h3{
    font-size: 16px;
  }
  .rating_star_item span, .user_rating_star{
    font-size: 14px;
  }

}
