/* Rubik font  */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* niconne font */
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

/* font-family: 'Niconne', cursive; */

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

:root {
  --primary_color: #88b813;
  --border_color: rgba(130, 130, 130, 0.25);
  --golden_color: #d99f34;
  --light_primary_color: #ecf1e6;
  --gray_black: #333333;
}

p {
  margin: 0;
}

a {
  text-decoration: none !important;
}

.sub_drp_link {
  color: black !important;
}
#mobile_menu {
  display: none;
}
/* popup login and sign up page style start */

.user_join_popup {
  padding: 20px 30px;
  background: #00000054;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  display: none;
  z-index: 9999;
}
.page_wrapper {
  width: 90%;
  /* height: 80vh; */
  overflow: hidden;
  background: white;
}

.page_wrapper .login_form {
  padding: 20px 30px;
  background: white;
  height: 100%;
}

.form_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_box h2 {
  font-size: 2.2em;
  color: var(--primary_color);
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}

.form_box span {
  color: #777;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 17px;
}

.form_box .input_box {
  position: relative;
  margin-bottom: 15px;
  height: 45px;
  width: 100%;
}

.form_box .input_box input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary_color);
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
  color: var(--primary_color);
}
.form_box .input_box input:focus {
  outline: none;
  border: 2px solid var(--primary_color);
}

.form_box .input_box label {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: all 0.2s;
}
.form_box .cdt_div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  width: 100%;
  margin-bottom: 30px;
}
.form_box .login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_box .page_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0px;
}
a {
  text-decoration: none;
}
.form_box .page_links a {
  color: #888;
  margin-right: 20px;
}
.form_box .page_links a:hover {
  text-decoration: underline;
}
.login_btn button {
  padding: 15px 65px;
  border-radius: 50px;
  background: var(--primary_color);
  color: white;
  font-size: 1em;
  font-weight: 600;
  border: 2px solid var(--primary_color);
  width: 100%;
  transition: all 0.2s;
}

.page_wrapper .msg_box span {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: grid;
  border-radius: 100%;
  place-items: center;
  font-size: 16px;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--primary_color);
}
.page_wrapper .msg_box span:hover i {
  transform: rotate(360deg);
  transition: 0.6s;
}
.page_wrapper .msg_box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background: var(--primary_color);
}

.hello_msg .msg_box h3 {
  font-size: 2em;
  color: white;
  margin-bottom: 20px;
}
.msg_box .cir_photo {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100%;
  margin-bottom: 10px;
}
.msg_box .cir_photo img {
  width: 100%;
}
.hello_msg .msg_box h3:after {
  content: " ";
  width: 50px;
  height: 3px;
  background: white;
  display: block;
  margin: auto;
  margin-top: 13px;
}

.msg_box button {
  padding: 15px 65px;
  border-radius: 50px;
  background: transparent;
  color: white;
  font-weight: 600;
  border: 2px solid white;
  margin-top: 40px;
  font-size: 1em;
  transition: all 0.2s;
}

.cdt_div a {
  color: #777;
}

.form_box h2:after {
  content: " ";
  width: 80px;
  height: 3px;
  background: var(--primary_color);
  display: block;
  margin: auto;
  margin-top: 19px;
}

.checkbox_ctn span {
  color: black;
}
span,
p,
a {
  font-size: 0.85em;
}

.cdt_div a:hover {
  text-decoration: underline;
  color: var(--primary_color);
}

.msg_box button:hover {
  background: white;
  color: var(--primary_color);
  transition: all 0.2s;
  box-shadow: 1px 5px 16px 0px #0000006b;
}
.social_site {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  margin: auto;
  margin-top: 20px;
}

.social_site a {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: white;
  display: grid;
  place-items: center;
  font-size: 1em;
  color: var(--primary_color);
  border: 1px solid var(--primary_color);
  transition: all 0.2s;
}
.form_box .page_links a:hover {
  color: #333;
}
.social_site a:hover {
  background: var(--primary_color);
  color: white;
  transition: all 0.2s;
}
.form_box .login_btn button:hover {
  border-color: var(--primary_color);
  background: white;
  color: var(--primary_color);
  box-shadow: 1px 7px 14px 1px #00000045;
  transition: all 0.2s;
}
/* popup login and sign up page style end */

/* top header style start here */
.top_header {
  padding: 10px 0px;
  border-bottom: 1px solid #ededed;
}

.category_area .category_selector .search_road {
  padding: 10px;
  background: #ededed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #969696;
  height: 44px;
  cursor: pointer;
}

.category_area {
  width: 200px;
  display: flex;
  align-items: center;
  position: relative;
}
.category_area .select_icon {
  position: absolute;
  right: 10px;
}
.category_area select {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: #ededed;
  font-size: 15px;
  padding: 0px 10px !important;
  appearance: none;
}

.category_area select option {
  font-size: 14px;
  background: white;
  border: none !important;
}
.category_search_input {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.category_search_input input {
  width: 100%;
  outline: none;
  border: 1px solid #ededed;
  padding: 5px;
  padding-right: 25px;
  margin: 0px 5px;
}

.category_search_input i,
.search_input i {
  position: absolute;
  right: 10px;
  transition: 0.3s;
  color: var(--primary_color);
  cursor: pointer;
}

.category_toggle ul.category_items {
  height: 200px;
  overflow-y: scroll;
}
.category_toggle ul.category_items li {
  padding: 8px 15px;
  transition: 0.3s;
  cursor: pointer;
}

.category_toggle ul.category_items li:hover,
.category_toggle ul.category_items li.active {
  background: var(--primary_color);
  color: white;
  transition: 0.3s;
}
.category_toggle {
  position: absolute;
  display: none;
  z-index: 999;
  background-color: white;
  width: 200px;
  padding-top: 10px;
  box-shadow: 1px 4px 6px 1px #00000026;
}

.category_toggle ul.category_items {
  margin-top: 5px;
}
.search_input {
  position: relative;
  width: 460px;
  height: 44px;
  display: flex;
  align-items: center;
}

.search_input input {
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #ededed;
}

.search_input input:focus,
.category_search_input input:focus {
  border: 1px solid var(--primary_color);
}

/* top header style end */
/* header style start here */
header#header {
  border-bottom: 1px solid var(--border_color);
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;
}

ul#desktop_menu .nav-item {
  margin-right: 10px;
}
/* toggler icon style */
.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler {
  border: none !important;
}

.nav_animated_icon {
  width: 22px;
  height: 15px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.nav_animated_icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  background-color: black;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav_animated_icon span:nth-child(1),
span:nth-child(2),
span:nth-child(3) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav_animated_icon span:nth-child(1) {
  top: 0px;
}

.nav_animated_icon span:nth-child(2) {
  top: 7px;
}

.nav_animated_icon span:nth-child(3) {
  top: 14px;
}

.nav_animated_icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.nav_animated_icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav_animated_icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
  left: 8px;
}
.vertical_category {
  transition: 0.3s;
  display: flex;
}
.vertical_category_wrapper {
  width: 225px;
}
.vertical_category .v_category_handler {
  background: var(--primary_color);
  padding: 10px;
  height: 60px;
  font-weight: 500;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.vertical_category ul.v_category_items li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
}
.product_mega_menu .product_mega_menu_wrapper img.img-fluid {
  max-width: 100% !important;
}
.vertical_category ul.v_category_items li img.img-fluid {
  max-width: 15%;
}
.vertical_category ul.v_category_items li:hover {
  background: #ededed;
}
.vertical_category ul.v_category_items li:hover #product_menu {
  display: unset;
  transition: 0.3s;
}
#product_menu {
  position: relative;
  display: none;
  transition: 0.3s;
}
.product_mega_menu:hover .product_mega_menu {
  display: unset;
}
ul.menu_inner_item {
  margin-bottom: 15px;
}
ul.menu_inner_item h4 {
  font-size: 15px;
  font-weight: 600;
}
ul.menu_inner_item h4 {
  margin-bottom: 15px;
}
ul.menu_inner_item li {
  padding: 5px 10px !important;
}
.product_mega_menu .product_mega_menu_wrapper .row {
  width: 100%;
}
.vertical_category ul.v_category_items li:hover .product_mega_menu {
  display: unset;
}
.vertical_category ul.v_category_items li:hover .product_mega_menu_wrapper {
  animation: mega_menu_open_animation 0.5s alternate forwards;
}
@keyframes mega_menu_open_animation {
  0% {
    left: 215px;
  }
  100% {
    left: 225px;
  }
}
.product_mega_menu .product_mega_menu_wrapper {
  background: white;
  height: 70vh;
  position: fixed;
  min-width: 770px;
  top: 0px;
  left: 225px;
  box-shadow: 1px 5px 15px 11px rgb(0 0 0 / 17%);
}
.vertical_category ul.v_category_items {
  position: absolute;
  background: white;
  z-index: 99;
  display: unset;
  width: 225px;
  transition: all 0.3s;
  transform: scaleY(0);
  transform-origin: top;
}
.vertical_category_wrapper:hover #category_list {
  transform: scaleY(1);
  transition: 0.4s;
}
nav.navbar {
  padding: 0;
}

ul#desktop_menu {
  padding: 10px 0px;
  margin-left: 30px;
}

.vertical_category .v_category_handler i {
  font-size: 20px;
}

/*----------- header style end here -------------*/
.woocommerce_options {
  display: flex;
}

.woocommerce_options li a,
.woocommerce_options li:nth-child(3) {
  font-size: 18px;
  color: black;
  transition: 0.4s;
}

.woocommerce_options .product_like_list::after {
  content: "0";
  width: 17px;
  height: 17px;
  background-color: var(--primary_color);
  color: white;
  display: grid;
  place-items: center;
  font-size: 11px;
  transform: translate(9px, -37px);
  border-radius: 100%;
  font-weight: bold;
  position: absolute;
}

.woocommerce_options li a:hover {
  color: var(--primary_color);
  transition: 0.4s;
}

a.nav-link {
  font-weight: 500;
  font-size: 14px;
  color: black !important;
  transition: 0.4s;
}

a.nav-link:hover {
  color: var(--primary_color) !important;
  transition: 0.4s;
}

.search_bar i {
  font-size: 18px;
}
.search_bar {
  display: flex;
}

.search_bar i:hover {
  color: var(--primary_color);
}

/* full width search bar style start here  */

.search_bar .mobile_search {
  position: absolute;
  right: 0px;
  z-index: 2;
  top: 80px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 25px 20px;
  background: white;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transform: translate(0px, 30%);
  opacity: 0;
  transition: 0.6s;
  visibility: hidden;
}

.search_bar .mobile_search .search_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.search_bar .mobile_search .search_wrapper input {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #9d9c9c7d;
  outline: none;
}

.search_bar .mobile_search .search_wrapper i {
  position: absolute;
  right: 15px;
  color: var(--primary_color);
}

/* full width search bar for mobile screen style end here  */

/* full width search bar for desktop screen style start here  */

.dstp_search_bar {
  position: absolute;
  width: 98%;
  height: 93vh;
  display: none;
  align-items: center;
  justify-content: center;
  background: white;
  top: 20px;
  right: 1%;
  box-shadow: -1px 3px 0px 20px #9999;
  z-index: 2;
  border-radius: 3px;
  position: fixed;
}

.dstp_search_bar .dstp_search_wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.dstp_search_bar .dstp_search_wrapper .dstp_search_box {
  width: 550px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.dstp_search_bar .dstp_search_wrapper .dstp_search_box input {
  width: 100%;
  padding: 12px 10px;
  border-radius: 3px;
  outline: none;
  border: none;
}

.dstp_search_bar .dstp_search_wrapper .dstp_search_box i {
  position: absolute;
  right: 10px;
  color: var(--primary_color);
  cursor: pointer;
}

.dstp_search_bar span:hover {
  color: var(--primary_color);
  transition: 0.2s;
}

.dstp_search_bar span {
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 20px;
}

/* full width search bar for desktop screen style end here  */

/* product item icon style */
.product_msg {
  width: 200px;
  position: absolute;
  right: 14%;
  top: 62px;
  display: none;
  z-index: 2;
}
.product_msg span {
  padding: 15px 20px;
  font-size: 14px;
  background: white;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

/* ========================================= */

/*hero section style start here*/
section#hero_section {
  max-height: 90vh;
  padding-bottom: 50px;
}

div#owl_slider .single_slider {
  position: relative;
  height: 78vh;
  padding: 20px 30px;
  background-color: white;
  z-index: 1;
  overflow: hidden;
}

div#owl_slider .single_slider .slide_child {
  position: absolute;
}

div#owl_slider .single_slider .bg_shape {
  z-index: 1;
  border: 10px solid var(--light_primary_color);
  width: 380px;
  height: 250px;
}

div#owl_slider .single_slider .product_title {
  font-size: 6rem;
  font-weight: 600;
  color: var(--primary_color);
  letter-spacing: -10px;
  position: relative;
}

#hero_section .img-fluid {
  max-width: 59% !important;
}

div#owl_slider .single_slider .p_img_1 {
  z-index: 3;
  transform: translate(62px, 30px);
}

div#owl_slider .single_slider .p_img_one {
  z-index: 3;
  transform: translate(120px, 22px);
}

div#owl_slider .single_slider .p_img_2 {
  z-index: 4;
  transform: translate(-98px, 153px);
  width: 47%;
}

div#owl_slider .single_slider .p_img_two {
  z-index: 4;
  transform: translate(-125px, 100px);
  width: 34%;
}

div#owl_slider .single_slider .p_img_3 {
  z-index: 2;
  transform: translate(278px, 115px);
  width: 85%;
}

div#owl_slider .single_slider .p_img_three {
  z-index: 5;
  transform: translate(202px, -115px);
  width: 16%;
}

div#owl_slider .single_slider .p_img_4 {
  z-index: 5;
  transform: translate(-147px, -130px) rotate(326deg);
  width: 15%;
}

div#owl_slider .single_slider .product_title .right_text {
  right: -378px;
  top: -117px;
  position: absolute;
  z-index: 4;
}

div#owl_slider .single_slider .product_title .p_right_text {
  right: -378px;
  top: -117px;
  position: absolute;
  z-index: 4;
}

div#owl_slider .single_slider .product_title .left_text {
  position: absolute;
  left: -390px;
  top: -35px;
  z-index: 3;
}

div#owl_slider .single_slider .product_title .p_left_text {
  position: absolute;
  left: -390px;
  top: -35px;
  z-index: 3;
}

/*hero section style end here*/

/* product slide section style start here */

section#product_section {
  padding: 100px 0px;
}

section#product_section .product_wrapper .section_title {
  text-align: center;
  margin-bottom: 60px;
}

section#product_section .product_wrapper .section_title h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

section#product_section .product_wrapper .section_title p {
  font-size: 14px;
  padding: 0px 50px;
  line-height: 2rem;
  color: #777;
}

section#product_section {
  padding: 60px 0px;
  background: white;
}

section#product_section .product_wrapper .section_title {
  text-align: center;
}

section#product_section .product_wrapper .section_title h2 {
  font-size: 36px;
  margin-bottom: 35px;
}

section#product_section .product_wrapper .section_title p {
  font-size: 14px;
  padding: 0px 50px;
  line-height: 2rem;
}

section#product_section .product_wrapper .product_slider .product_img_content {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

section#product_section .product_wrapper .product_slider .single_product .product_manage .product_option a {
  padding: 15px;
  color: black;
  border-radius: 5px;
  background: white;
  transition: 0.3s;
}

section#product_section .product_wrapper .product_slider .single_product .product_manage .product_option a:hover {
  color: var(--primary_color);
  transition: 0.3s;
}

section#product_section .product_wrapper .product_slider .single_product .product_manage .view_btn button {
  background-color: var(--primary_color);
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.3s;
  color: white;
  font-size: 14px;
  border: none;
}

section#product_section .product_wrapper .product_slider .single_product {
  overflow: hidden;
}

section#product_section .product_wrapper .product_slider .single_product {
  transition: 0.3s;
}

section#product_section .product_wrapper .product_slider .single_product .product_img_content .font_img {
  position: absolute;
}

section#product_section .product_wrapper .product_slider .single_product .product_img_content .back_img {
  opacity: 0;
}

section#product_section .product_wrapper .product_slider .single_product .product_img_content img {
  transition: 0.6s;
  height: 100%;
}

section#product_section .product_wrapper .product_slider .single_product:hover .font_img {
  opacity: 0;
  transition: 0.5s;
}

section#product_section .product_wrapper .product_slider .single_product:hover .back_img {
  opacity: 1;
  transition: 0.5s;
}

section#product_section .product_wrapper .product_slider .single_product:hover {
  transition: 0.3s;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

section#product_section .product_wrapper .product_slider .single_product:hover .product_img_content img {
  transform: scale(1.12);
  transition: 0.9s;
}

section#product_section .product_wrapper .product_slider .single_product .product_manage .view_btn button:hover {
  background-color: var(--gray_black);

  transition: 0.3s;
}

section#product_section .product_wrapper .product_slider .single_product .product_manage .product_option {
  z-index: 1;
  transform: translate(0px, 25px);
  opacity: 0;
}

section#product_section .product_wrapper .product_slider .single_product .product_manage .view_btn {
  transform: translate(0px, -60px);
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
}

section#product_section .product_wrapper .product_slider .single_product:hover .product_manage .view_btn {
  transform: translate(0px, -20px);
  transition: 0.3s;
  opacity: 1;
}

section#product_section .product_wrapper .product_slider .single_product:hover .product_manage .product_option {
  transform: translate(0px, 0px);
  transition: 0.3s;
  opacity: 1;
}

section#product_section .product_wrapper .product_slider .product_img_content .product_manage {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 90%;
  align-items: center;
}

section#product_section .product_wrapper .product_slider .product_info {
  text-align: center;
  padding: 25px 10px;
  border: 1px solid #eeeeee;
  background-color: white;
}

section#product_section .product_wrapper .product_slider .product_info .product_group {
  color: var(--gray_black);
  transition: 0.3s;
}

section#product_section .product_wrapper .product_slider .product_info h4 {
  font-size: 15px;
  margin: 10px 0px;
  transition: 0.3s;
}

section#product_section .product_wrapper .product_slider .product_info .product_price del {
  color: #a5a5a5;
}

section#product_section .product_wrapper .product_slider .product_info .product_price {
  font-size: 18px;
  font-weight: 600;
}

section#product_section .product_wrapper .product_slider .product_info h4:hover {
  color: var(--primary_color);
  transition: 0.3s;
}

section#product_section .product_wrapper .product_slider .product_info .product_group:hover {
  color: black;
  transition: 0.3s;
}

section#product_section .product_wrapper .product_category button:hover {
  color: var(--primary_color);
  transition: 0.3s;
}

section#product_section .product_wrapper .product_category button {
  font-size: 18px;
  color: var(--gray_black);
  background: transparent;
  border: none;
  transition: 0.3s;
}

.p_active {
  color: var(--primary_color);
}

section#product_section .product_wrapper .product_category {
  margin-bottom: 50px;
}

/* product slide section style end here */

/*our package section style start here*/
section#organic_packages {
  padding: 60px 0px;
}

section#organic_packages .organic_packages_wrapper .single_package {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

section#organic_packages .organic_packages_wrapper .single_package .package_info {
  position: absolute;
  padding: 65px 20px;
  text-align: center;
}

section#organic_packages .organic_packages_wrapper .single_package .package_info h3 {
  font-size: 24px;
  font-weight: 800;
}

section#organic_packages .organic_packages_wrapper .single_package .package_info h4 {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-size: 45px;
  color: var(--golden_color);
}

section#organic_packages .organic_packages_wrapper .single_package.item_2 .package_info {
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#organic_packages .organic_packages_wrapper .single_package.item_2 .single_package:nth-child(2) .package_info {
  left: 0;
  right: unset;
}

section#organic_packages .organic_packages_wrapper .single_package.item_2 .package_info h3 {
  font-size: 18px;
}

section#organic_packages .organic_packages_wrapper .single_package.item_2 .package_info h4 {
  font-size: 40px;
}

/*our package section style start here*/

/*vitamin_quantity_section style start here*/
section#vitamin_quantity_section {
  padding: 60px 0px;
}

section#vitamin_quantity_section .vitamin_quantity_wrapper .vitamin_section_title {
  margin-bottom: 100px;
}

section#vitamin_quantity_section .vitamin_quantity_wrapper .vitamin_section_title h2 {
  font-size: 36px;
}

section#vitamin_quantity_section .vitamin_quantity_wrapper .vitamin_section_title h3 {
  font-weight: 300;
  margin-top: 20px;
}

section#vitamin_quantity_section .vitamin_quantity_wrapper .vitamin_quantity .vitamin_button button {
  padding: 12px 25px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  font-size: 15px;
}

section#vitamin_quantity_section .vitamin_quantity_wrapper .vitamin_quantity .vitamin_button button:last-child {
  background-color: var(--primary_color);
  transition: 0.2s;
}

section#vitamin_quantity_section .vitamin_quantity_wrapper .vitamin_quantity .vitamin_button button:last-child:hover {
  background-color: var(--gray_black);
  transition: 0.2s;
}

section#vitamin_quantity_section .vitamin_quantity_wrapper .vitamin_quantity .vitamin_button button:first-child {
  background-color: var(--gray_black);
  transition: 0.2s;
}

section#vitamin_quantity_section .vitamin_quantity_wrapper .vitamin_quantity .vitamin_button button:first-child:hover {
  background-color: var(--primary_color);
  transition: 0.2s;
}

section#vitamin_quantity_section .vitamin_quantity_wrapper .vitamin_single_box .vitamin_info h4 {
  color: var(--primary_color);
}

section#vitamin_quantity_section .vitamin_quantity_wrapper .vitamin_single_box .vitamin_info p {
  color: #777;
}

/* support area style */

section#vitamin_quantity_section .support_area {
  background: var(--light_primary_color);
}

section#vitamin_quantity_section .support_area .single_support_box {
  padding: 20px 25px;

  border-right: 1px solid #e2e2e2b9;
}

section#vitamin_quantity_section .support_area .single_support_box .s_box_icon {
  font-size: 35px;
  padding: 30px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  background: white;
  margin-right: 28px;
  color: var(--primary_color);
}

section#vitamin_quantity_section .support_area .single_support_box .s_box_icon .s_box_info {
  font-size: 14px;
}

/*vitamin_quantity_section style end here*/

/*spacial_offer style start here*/

section#spacial_offer_section {
  background: url(/img/organic-store-img-06.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 40px;
  margin: 60px 0px;
}

section#spacial_offer_section .spacial_offer_wrapper {
  width: 60vw;
}

section#spacial_offer_section .spacial_offer_wrapper p {
  color: #777;
  line-height: 2rem;
  font-size: 14px;
}

section#spacial_offer_section .spacial_offer_wrapper span {
  color: var(--golden_color);
  font-size: 20px;
  font-weight: 600;
}

section#spacial_offer_section .spacial_offer_wrapper h2 {
  font-size: 35px;
  color: var(--gray_black);
  font-weight: 700;
}

section#spacial_offer_section .spacial_offer_wrapper em {
  color: var(--primary_color);
  font-size: 15px;
  font-weight: 600;
}

section#spacial_offer_section .spacial_offer_wrapper button,
.discover_button button {
  color: white;
  background-color: var(--gray_black);
  transition: 0.2s;
  border-radius: 5px;
  padding: 12px 25px;
  border: none;
  font-size: 15px;
}

section#spacial_offer_section .spacial_offer_wrapper button:hover,
.discover_button button:hover {
  color: white;
  background-color: var(--primary_color);
  transition: 0.2s;
}

/*spacial_offer style end here*/

/*discover_story_section style start here*/
section#discover_story_section .discover_wrapper .discover_story .discover_story_upper h2 {
  font-size: 35px;
}

section#discover_story_section .discover_wrapper .discover_story .discover_story_upper p {
  font-size: 14px;
  color: #777;
}

section#discover_story_section .discover_wrapper .discover_story .discover_story_upper {
  margin-bottom: 45px;
}

section#discover_story_section .discover_wrapper .discover_story .discover_story_lower p {
  color: #777;
  font-size: 14px;
}

.discover_story_lower .discover__single_features .d_box_icon img {
  width: 60%;
}

/*discover_story_section style end here*/

/*product_ads_section style start here*/
section#product_ads_section {
  padding: 70px 0px;
  background: url(/img/organic-store-img-07.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

section#product_ads_section .product_ads_wrapper .product_ads_title h2 {
  font-size: 35px;
  color: white;
  font-weight: 700;
}

section#product_ads_section .product_ads_wrapper .product_ads_title p {
  color: white;
  font-size: 14px;
  width: 50vw;
  margin: auto;
}

section#product_ads_section .product_ads_wrapper {
  width: 60vw;
}

/*product_ads_section style end here*/

/*product_list_section style start here*/

section#product_list_section {
  padding: 70px 0px;
}

section#product_list_section .product_list_wrapper .single_p_list_box .p_list_title h2 {
  font-size: 20px;
}

section#product_list_section .product_list_wrapper .single_p_list_box .p_list_title {
  border-bottom: 1px solid #9999996b;
  margin-bottom: 30px;
}

section#product_list_section .product_list_wrapper .newsletter {
  padding: 35px 15px;
}

section#product_list_section .product_list_wrapper .newsletter .newsletter_wrapper .newwsletter_title h2 {
  font-size: 33px;
  font-weight: 700;
  color: var(--primary_color);
}

section#product_list_section .product_list_wrapper .newsletter .newsletter_wrapper .newwsletter_title p {
  font-size: 14px;
  margin: 25px 0px;
  line-height: 1.6rem;
  color: white;
}

section#product_list_section .product_list_wrapper .newsletter .newsletter_wrapper .newsletter_mailbox input {
  outline: none;
  border: none;
  padding: 6px 10px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
}

section#product_list_section .product_list_wrapper .newsletter .newsletter_wrapper .newsletter_mailbox button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  background: var(--primary_color);
  color: white;
  width: 150px;
}
.single_product .single_product_img {
  width: 60%;
  margin-right: 10px;
}

.single_product .single_product_info p {
  font-weight: 500;
  font-size: 15px;
  transition: 0.2s;
}
.single_product .single_product_info {
  width: 175%;
}
.single_product .single_product_info span {
  font-weight: 600;
  color: var(--primary_color);
  font-size: 15px;
}

.single_product .single_product_info p:hover {
  color: var(--primary_color);
  transition: 0.2s;
}
.single_p_list_box .owl-nav {
  width: 25%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: -69px;
  right: 0;
  font-size: 30px;
  color: var(--primary_color);
}
/*product_list_section style end here*/

/*latest_news_section style start here*/
section#latest_news_section {
  padding: 80px 0px;
}
section#latest_news_section .latest_news_wrapper .latest_news_title h2 {
  font-weight: 600;
}
section#latest_news_section .latest_news_wrapper .latest_news_title p {
  color: #777;
}
.single_post .content_side .post_info span.grup_btn {
  width: 115px;
  text-align: center;
  background: var(--primary_color);
  color: white;
  border-radius: 3px;
  padding: 5px 0px;
  font-size: 14px;
}

.single_post .content_side .post_info span i {
  color: var(--primary_color);
}

.single_post .content_side .post_info span {
  font-size: 13px;
}

.single_post .content_side .post_info h3 {
  font-size: 19px;
  font-weight: 600;
}

.single_post .content_side .post_info p {
  color: #777;
  font-size: 14px;
  line-height: 1.5rem;
}

.single_post .content_side .post_btn button {
  border: 2px solid #3333;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 25px;
  border-radius: 3px;
  color: #6e6e6e;
  transition: 0.2s;
  background: transparent;
}

.single_post .content_side .post_btn button:hover {
  color: var(--primary_color);
  transition: 0.2s;
  border: 2px solid var(--primary_color);
}

.post_img img {
  object-fit: cover;
  min-height: 245px;
  object-position: left;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25px !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  background-color: #3333338c;
  transition: 0.2s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #61810e !important;
  border: 1px solid var(--primary_color);
  background-color: #89b81367;
  transition: 0.2s;
}
span.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 2px solid var(--primary_color) !important;
  margin-top: 30px !important;
}
.swiper-pagination {
  bottom: -30px !important;
}
.swiper {
  overflow-y: visible !important;
  overflow-x: clip !important;
}

.swiper-pagination-bullet-active {
  background: var(--primary_color) !important;
}
/*latest_news_section style end here*/

/*product_image_slider style start here*/
section#product_image_slider {
  background-color: var(--primary_color);
}

/*product_image_slider style end here*/

/*footer section style start here*/
footer#footer_section {
  padding: 20px 0px;
}

footer#footer_section .footer-wrapper .single_footer_item p {
  color: #666;
  font-size: 14px;
}

footer#footer_section .footer-wrapper .single_footer_item .f_social_links a,
.popup_info .social_link a {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background: white;
  border: 1px solid var(--primary_color);
  color: var(--primary_color);
  transition: 0.3s;
}
footer#footer_section .footer-wrapper .single_footer_item .f_social_links a:hover {
  background: var(--primary_color);
  color: white;
  transition: 0.5s;
  transform: translate(0px, -10px);
  box-shadow: rgb(0 0 0 / 45%) 0px 60px 40px -7px;
}
footer#footer_section .footer-wrapper .single_footer_item ul li {
  font-size: 15px;
  margin-bottom: 10px;
  color: #666;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}

footer#footer_section .footer-wrapper .single_footer_item span {
  padding: 5px 10px;
  font-size: 14px;
  background: white;
  border-radius: 3px;
  border: 1px solid #9999996b;
  color: #555;
  transition: 0.3s;
}

footer#footer_section .footer-wrapper .single_footer_item span:hover {
  background: var(--primary_color);
  transition: 0.3s;
  color: white;
}

footer#footer_section .footer-wrapper .single_footer_item p {
  line-height: 1.6rem;
}

footer#footer_section .footer-wrapper .single_footer_item .address p {
  color: #666;
}

footer#footer_section .footer-wrapper .single_footer_item .address i {
  color: var(--primary_color);
  font-size: 15px;
}

footer#footer_section .footer-wrapper .single_footer_item ul li:hover {
  color: var(--primary_color);
  transition: 0.3s;
  transform: translate(10px, 0px);
}

footer#footer_section .footer-wrapper .single_footer_item ul li:before {
  content: "";
  height: 2px;
  width: 20px;
  background: var(--primary_color);
  display: block;
  left: -30px;
  position: absolute;
  bottom: 10px;
  transition: 0.3s;
}

footer#footer_section .copyright_section p {
  color: #666;
  font-size: 14px;
}

footer#footer_section .copyright_section p span {
  color: var(--primary_color);
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
}

footer#footer_section .copyright_section p span:hover {
  text-decoration: overline;
}

footer#footer_section .copyright_section {
  border-top: 1px solid #999;
}

footer#footer_section .footer-wrapper .single_footer_item ul li:hover li:before {
  width: 50px;
}

footer#footer_section .footer-wrapper .single_footer_item ul li:hover::before {
  width: 25px;
  transition: 0.3s;
}

.address_item_box p {
  margin-bottom: 0 !important;
}
.jq-top,
.jq-item,
.jq-bottom,
.jq-items-toggle {
  color: var(--primary_color) !important;
}
/*footer section style end here*/
/* product view popup style start here */

.popup_overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #4d4d4d6e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  display: none;
}

.popup_overlay .popup_content {
  width: 90vw;
  height: 80vh;
  background: white;
  color: black;
  z-index: 2;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.popup_img {
  height: 80vh;
}

.popup_img img {
  object-fit: cover;
  height: 100%;
}

.popup_info {
  overflow: auto;
  margin-right: 20px;
  padding: 20px 15px;
}
.popup_info .wishlist {
  color: var(--primary_color);
  font-weight: 600;
  font-size: 14px;
}
.popup_info h3 {
  font-size: 22px;
  padding-top: 30px;
  transition: 0.3s;
  line-height: 1.9rem;
  margin-right: 40px;
}

.popup_info h3:hover {
  color: var(--primary_color);
  transition: 0.3s;
}

.popup_info b {
  font-size: 20px;
  transition: 0.3s;
  color: var(--primary_color);
}

.popup_info p {
  font-size: 14px;
  color: #666;
}

.popup_info button {
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--primary_color);
  color: white;
  font-size: 13px;
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
  transition: 0.3s;
}
.popup_overlay .popup_content .exit_icon:hover {
  transform: scale(1.1);
  transition: 0.2s;
  border: 2px solid #c7c4c4;
}
.popup_overlay .popup_content .exit_icon {
  position: fixed;
  right: 15px;
  top: 20px;
  border-radius: 100%;
  background: #0000008a;
  color: white;
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  font-size: 10px;
  border: 2px solid transparent;
}

.popup_info a ul.about_p li {
  font-size: 14px;
}

.popup_info ul.about_p li {
  font-size: 15px;
  font-weight: 500;
}

.popup_info ul.about_p li span {
  color: #666;
}

.popup_social .share_text {
  font-weight: 500;
}
.popup_info button:hover {
  background-color: white;
  color: var(--primary_color);
  transition: 0.3s;
  border: 1px solid var(--primary_color);
}
.popup_social .social_link a:hover {
  background: var(--primary_color);
  transition: 0.3s;
  color: white;
}

.popup_social .social_link a {
  width: 30px;
  height: 30px;
  font-size: 14px;
}
/* product view popup style end here */
/* owl carousel some custom style */
.owl-theme .owl-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.owl-theme .owl-nav button {
  width: 40px;
  height: 40px;
  display: grid !important;
  place-items: center;
  background: #9a9b9b !important;
  color: white !important;
  font-size: 35px !important;
  transition: 0.3s;
}

.owl-theme .owl-nav button:hover {
  color: white !important;
  background: black !important;
  transition: 0.3s !important;
}

.owl-theme .owl-nav button span {
  width: 100% !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ***************************responsive code************************* */

/* responsive code for large desktop screen */

@media only screen and (max-width: 992px) {
  #mobile_menu {
    display: unset;
  }

  #desktop_menu {
    display: none !important;
  }

  ul.navbar-nav li:last-child {
    display: none;
  }

  ul.navbar-nav li:first-child {
    border-top: 1px solid var(--border_color);
    border-bottom: 1px solid var(--border_color);
  }

  ul.navbar-nav li {
    border-bottom: 1px solid var(--border_color);
    padding: 5px 5px;
  }

  div#navbarNav {
    margin-top: 20px;
  }

  div#owl_slider .single_slider {
    height: 70vh;
  }

  div#owl_slider .single_slider .p_img_1 {
    width: 35%;
    transform: translate(50px, 20px);
  }

  div#owl_slider .single_slider .p_img_2 {
    transform: translate(-87px, 128px);
    width: 45%;
  }

  div#owl_slider .single_slider .p_img_3 {
    transform: translate(220px, 106px);
    width: 75%;
  }

  div#owl_slider .single_slider .p_img_4 {
    width: 20%;
  }

  div#owl_slider .single_slider .product_title {
    font-size: 80px;
  }

  div#owl_slider .single_slider .product_title .right_text {
    right: -288px;
    top: -117px;
    position: absolute;
    z-index: 4;
  }

  div#owl_slider .single_slider .product_title .left_text {
    position: absolute;
    left: -308px;
    top: -35px;
    z-index: 3;
  }

  div#owl_slider .single_slider .product_title .p_left_text {
    position: absolute;
    left: -308px;
    top: -35px;
    z-index: 3;
  }

  /*product section style*/

  section#vitamin_quantity_section .support_area .single_support_box {
    border-right: 1px solid transparent;
    margin-bottom: 20px;
  }

  section#discover_story_section .discover_wrapper .discover_story .discover_story_upper p {
    width: 80vw;
  }
}

/* responsive code for md desktop screen */

@media only screen and (max-width: 900px) {
  div#owl_slider .single_slider .p_img_1 {
    width: 42%;
    transform: translate(50px, 15px);
  }

  div#owl_slider .single_slider .p_img_2 {
    transform: translate(-93px, 135px);
    width: 50%;
  }

  div#owl_slider .single_slider .p_img_4 {
    width: 25%;
    transform: translate(-140px, -130px) rotate(326deg);
  }

  div#owl_slider .single_slider .p_img_3 {
    transform: translate(210px, 106px);
  }

  div#owl_slider .single_slider .product_title {
    font-size: 68px;
  }

  div#owl_slider .single_slider .product_title .left_text {
    position: absolute;
    left: -272px;
    top: -35px;
    z-index: 3;
  }

  div#owl_slider .single_slider .product_title .right_text {
    right: -250px;
    top: -108px;
    position: absolute;
    z-index: 4;
  }

  div#owl_slider .single_slider .product_title .p_left_text {
    position: absolute;
    left: -315px;
    top: -95px;
    z-index: 3;
  }

  div#owl_slider .single_slider .product_title .p_right_text {
    right: -208px;
    top: -38px;
    position: absolute;
    z-index: 4;
  }
}

/* responsive code for laptop screen */

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
  div#owl_slider .single_slider .bg_shape {
    width: 325px;
    height: 210px;
  }

  .dstp_search_bar .dstp_search_wrapper .dstp_search_box {
    width: 25rem;
  }

  div#owl_slider .single_slider .p_img_1 {
    width: 45%;
    transform: translate(50px, 20px);
  }

  div#owl_slider .single_slider .p_img_4 {
    transform: translate(-120px, -110px) rotate(326deg);
    width: 25%;
  }

  div#owl_slider .single_slider .p_img_2 {
    transform: translate(-80px, 123px);
    width: 58%;
  }

  div#owl_slider .single_slider .p_img_3 {
    transform: translate(195px, 106px);
  }

  div#owl_slider .single_slider .p_img_one {
    z-index: 3;
    transform: translate(105px, 20px);
    width: 70%;
  }

  div#owl_slider .single_slider .p_img_two {
    z-index: 4;
    transform: translate(-78px, 76px);
    width: 45%;
  }

  div#owl_slider .single_slider .p_img_three {
    z-index: 5;
    transform: translate(175px, -90px);
    width: 16%;
  }

  div#owl_slider .single_slider .product_title .p_left_text {
    position: absolute;
    left: -220px;
    top: -85px;
    z-index: 3;
  }

  div#owl_slider .single_slider .product_title .p_right_text {
    right: -170px;
    top: -30px;
    position: absolute;
    z-index: 4;
  }

  div#owl_slider .single_slider .product_title .p_left_text,
  .p_right_text {
    font-size: 50px;
    letter-spacing: -8px;
  }

  section#vitamin_quantity_section .support_area {
    background: transparent;
  }

  section#vitamin_quantity_section .support_area .single_support_box {
    border-right: 1px solid transparent;
    background-color: var(--light_primary_color);
    width: 80vw;
    margin: auto;
  }

  section#spacial_offer_section .spacial_offer_wrapper h2 {
    font-size: 30px;
    color: var(--gray_black);
    font-weight: 700;
  }

  section#spacial_offer_section .spacial_offer_wrapper {
    width: 95vw;
  }
  .single_product .single_product_img {
    width: 30%;
  }
}

/* responsive code for tablets screen */
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 25px !important;
  }
  section#product_ads_section .product_ads_wrapper .product_ads_title h2 {
    font-size: 20px !important;
  }
  section#product_list_section .product_list_wrapper .single_p_list_box .p_list_title h2 {
    font-size: 18px !important;
  }
  div#owl_slider .single_slider .p_img_1 {
    width: 55%;
    transform: translate(43px, 15px);
  }

  div#owl_slider .single_slider .p_img_4 {
    transform: translate(-120px, -110px) rotate(326deg);
    width: 30%;
  }

  div#owl_slider .single_slider .p_img_2 {
    transform: translate(-80px, 115px);
    width: 70%;
  }

  div#owl_slider .single_slider .p_img_3 {
    transform: translate(185px, 100px);
    width: 95%;
  }

  div#owl_slider .single_slider .p_img_one {
    z-index: 3;
    transform: translate(100px, 20px);
    width: 90%;
  }

  div#owl_slider .single_slider .p_img_two {
    z-index: 4;
    transform: translate(-85px, 82px);
    width: 50%;
  }

  div#owl_slider .single_slider .p_img_three {
    z-index: 5;
    transform: translate(170px, -100px);
    width: 20%;
  }

  section#product_section .product_wrapper .section_title h2 {
    font-size: 25px;
  }

  section#product_section .product_wrapper .section_title p {
    line-height: 1.5rem;
  }

  div#owl_slider .single_slider .bg_shape {
    width: 318px;
    height: 210px;
  }

  div#owl_slider .single_slider {
    height: 55vh;
  }

  div#owl_slider .single_slider .product_title {
    font-size: 35px;
    letter-spacing: -3px;
  }

  div#owl_slider .single_slider .product_title .right_text {
    right: -175px;
    top: -75px;
    position: absolute;
    z-index: 4;
  }

  div#owl_slider .single_slider .product_title .p_right_text {
    right: -105px;
    top: -22px;
    position: absolute;
    z-index: 4;
  }

  div#owl_slider .single_slider .product_title .left_text {
    position: absolute;
    left: -185px;
    top: -25px;
    z-index: 3;
  }

  div#owl_slider .single_slider .product_title .p_left_text {
    position: absolute;
    left: -185px;
    top: -80px;
    z-index: 3;
  }

  div#owl_slider .single_slider .product_title .p_left_text,
  .p_right_text {
    font-size: 35px;
    letter-spacing: -5px;
  }
}

/* responsive code for mobile screen */
@media only screen and (max-width: 502px) {
  .single_post .content_side .post_info h3 {
    font-size: 18px;
    font-weight: 600;
  }
  .single_post .content_side .post_info p {
    font-size: 14px;
  }
  .page_bottom_menu {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
  }

  .page_bottom_menu a {
    color: black;
    display: grid;
    place-items: center;
    border-right: 1px solid #9999994f;
  }

  .page_bottom_menu a:hover {
    color: var(--primary_color);
  }

  div#owl_slider .single_slider {
    height: 55vh;
  }

  div#owl_slider .single_slider .bg_shape {
    width: 275px;
    height: 185px;
  }

  div#owl_slider .single_slider .p_img_2 {
    transform: translate(-55px, 95px);
    width: 70%;
  }

  div#owl_slider .single_slider .p_img_3 {
    transform: translate(155px, 85px);
    width: 95%;
  }

  div#owl_slider .single_slider .p_img_4 {
    transform: translate(-105px, -98px) rotate(326deg);
    width: 30%;
  }

  div#owl_slider .single_slider .p_img_one {
    z-index: 3;
    transform: translate(95px, 11px);
    width: 95%;
  }

  div#owl_slider .single_slider .p_img_two {
    z-index: 4;
    transform: translate(-80px, 75px);
    width: 45%;
  }

  div#owl_slider .single_slider .p_img_three {
    z-index: 5;
    transform: translate(150px, -88px);
    width: 20%;
  }

  div#owl_slider .single_slider .product_title .p_left_text {
    position: absolute;
    left: -185px;
    top: -60px;
    z-index: 3;
  }

  div#owl_slider .single_slider .product_title .p_left_text,
  .p_right_text {
    font-size: 35px;
    letter-spacing: -5px;
  }
}

@media only screen and (max-width: 450px) {
  div#owl_slider .single_slider .bg_shape {
    width: 215px;
    height: 150px;
  }

  div#owl_slider .single_slider .p_img_1 {
    width: 60%;
    transform: translate(43px, 3px);
  }

  div#owl_slider .single_slider .p_img_2 {
    transform: translate(-45px, 80px);
    width: 62%;
  }

  div#owl_slider .single_slider .p_img_3 {
    transform: translate(135px, 75px);
    width: 100%;
  }

  div#owl_slider .single_slider .p_img_4 {
    transform: translate(-77px, -80px) rotate(326deg);
    width: 25%;
  }

  div#owl_slider .single_slider .p_img_one {
    z-index: 3;
    transform: translate(77px, 6px);
    width: 95%;
  }

  div#owl_slider .single_slider .p_img_two {
    z-index: 4;
    transform: translate(-65px, 60px);
    width: 45%;
  }

  div#owl_slider .single_slider .p_img_three {
    z-index: 5;
    transform: translate(120px, -70px);
    width: 20%;
  }

  div#owl_slider .single_slider .product_title .p_left_text {
    position: absolute;
    left: -155px;
    top: -55px;
    z-index: 3;
  }

  div#owl_slider .single_slider .product_title .p_left_text,
  .p_right_text {
    font-size: 25px;
    letter-spacing: -3px;
  }

  div#owl_slider .single_slider .product_title {
    font-size: 25px;
  }

  div#owl_slider .single_slider .product_title .right_text {
    right: -115px;
    top: -65px;
    position: absolute;
    z-index: 4;
  }

  div#owl_slider .single_slider .product_title .left_text {
    position: absolute;
    left: -118px;
    top: -25px;
    z-index: 3;
  }

  div#owl_slider .single_slider {
    height: 40vh;
  }
}

/* responsive code for large screen screen */
@media only screen and (min-width: 900px) {
  .popup_overlay .popup_content {
    width: 60vw;
  }
}
@media only screen and (min-width: 992px) {
  .search_bar {
    display: none;
  }
}

@media only screen and (min-width: 502px) {
  .page_bottom_menu {
    display: none !important;
  }
}
